<%= form_with(model: song_version) do |form| %>
  <% if song_version.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(song_version.errors.count, "error") %> prohibited this song_version from being saved:</h2>

      <ul>
        <% song_version.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :song_name %>
    <%= form.text_field :song_name %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.text_field :date %>
  </div>

  <div class="field">
    <%= form.label :venue_name %>
    <%= form.text_field :venue_name %>
  </div>

  <div class="field">
    <%= form.label :venue_location %>
    <%= form.text_field :venue_location %>
  </div>

  <div class="field">
    <%= form.label :vote_count %>
    <%= form.number_field :vote_count %>
  </div>

  <div class="field">
    <%= form.label :voted_by_id %>
    <%= form.text_field :voted_by_id %>
  </div>

  <div class="field">
    <%= form.label :comments_id %>
    <%= form.text_field :comments_id %>
  </div>

  <div class="field">
    <%= form.label :user_who_posted_id %>
    <%= form.text_field :user_who_posted_id %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="field">
    <%= form.label :slug %>
    <%= form.text_field :slug %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
