= form_with(model: song_version) do |form|
  - if song_version.errors.any?
    #error_explanation
      %h2
        = pluralize(song_version.errors.count, "error")
        prohibited this song_version from being saved:
      %ul
        - song_version.errors.each do |error|
          %li= error.full_message

  .field
    = form.label :songs
    = form.select :songs, song_options, { prompt: "Select a song" }  

  .field
    = form.label :dates
    = form.select :date, [], { prompt: "Select a date" }

  .field
    = form.label :description
    = form.text_field :description

  .actions
    = form.submit
