<p id="notice"><%= notice %></p>

<h1>Song Versions</h1>

<table>
  <thead>
    <tr>
      <th>Song name</th>
      <th>Date</th>
      <th>Venue name</th>
      <th>Venue location</th>
      <th>Description</th>
      <th>Posted by User:</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @song_versions.each do |song_version| %>
      <tr>
        <td><%= song_version.song_name %></td>
        <td><%= song_version.date %></td>
        <td><%= song_version.venue_name %></td>
        <td><%= song_version.venue_location %></td>
        <td><%= song_version.description %></td>
        <td><%= song_version.user.email %></td>
        <td><%= link_to 'Show', song_version %></td>
        <% if current_user && current_user.email == song_version.user.email %>
          <td><%= link_to 'Edit', edit_song_version_path(song_version) %></td>
          <td><%= link_to 'Destroy', song_version, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>  
      </tr>
    <% end %>
  </tbody>
</table>
