<p id="notice"><%= notice %></p>

<p>
  <strong>Song name:</strong>
  <%= @song_version.song_name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @song_version.date %>
</p>

<p>
  <strong>Venue Name:</strong>
  <%= @song_version.venue_name %>
</p>

<p>
  <strong>Venue Location:</strong>
  <%= @song_version.venue_location %>
</p>

<p>
  <strong>Description:</strong>
  <%= @song_version.description %>
</p>


<%= link_to 'Edit', edit_song_version_path(@song_version) %> |
<%= link_to 'Back', song_versions_path %>
